{% extends "auctions/layout.html" %}

{% block body %}

    <div class="grid-login">
        <div class="login">
            <h2 class="hd-login">Create new listing</h2>

            <form action="{% url 'create_listing' %}" method="post" class="form-listing">
                {% csrf_token %}

                <input autofocus class="form-control input-login" type="text" name="title" placeholder="Title*">
                <textarea name="description" id="description-listing" placeholder="Description*" class="form-control input-login" rows="5"></textarea>
                <input class="form-control input-login" type="number" name="starting-bid" placeholder="Starting bid*">
                <input class="form-control input-login" type="text" name="url-image" placeholder="Url image">
                <input class="form-control input-login" type="text" name="category" placeholder="Category">

                <input class="btn btn-primary btn-login" type="submit" value="Create">
            </form>

        </div>
    </div>

{% endblock %}